*{
  margin: 0;
}
body{
  width: 1080px;
  height: 1920px;
  margin: 0 auto;
}
header{
  width: 100%;
  height: 300px;
}
.ramme{
  position: absolute;
  top:0;
  width: 1080px;
  height: 1920px;
  margin: 0 auto;
  z-index: 1;
}
.holder{
  display: block;
}
.off {display: none;}

.content{

  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.slot{
  flex-basis: 25%;
  z-index: 999;
}
/*newslider*/
.marquee {
  padding-top: 5px;
  overflow: hidden;
  background: rgba(255, 0, 0, 0);
  font-size: 20px;
  z-index: -1;

}
#randomize{
  position: absolute;
  width: 150px;
  cursor: pointer;
  margin: 100px auto;

  z-index: 999999999;
}
